# Ignore the following directories and files
# Data directories
test
train
valid

# igore the trained model files
trained_plant_disease_model.h5
trained_plant_disease_model1.h5
trained_plant_disease_model.keras
trained_plant_disease_model1.keras

